$include /etc/inputrc

"\C-k": history-search-backward
"\C-j": history-search-forward

"\C-h": backward-char
"\C-l": forward-char

# was \el, but kitty binds alt+l to next_tab and eats it.
"\e\C-l": clear-screen
